 <!DOCTYPE html>
 <html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
       xmlns="http://www.w3.org/1999/html">
 {%load static %}
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Indian Institute Of Tecnology Roorkee</title>
    <style>
.inner1{
   height:10%;
}
#img1{
width:60px;
height:70px;
}
.inner2{
    height:20%;

  margin-left: 300px;
}
.inner3{
    height:400px;
}
.inner4{
margin-top:40px;
    height:50px;
}
.inner5{
margin-top:60px;
    height:50px;
}
.inner6{
background-color:#EAEDED;
margin-top:60px;
    height:400px;
    padding-top:30px;
    padding-left:410px;
    text-decoration:none;
}
.row{
    margin-left:195px;
}
.w3-button2{
margin-left:1393px;
}
.h4{
background-color:#3498DB;
color:#ffffff;
width:420px;

font-size:14sp;
padding-left:20px;
padding-top:2px;
padding-bottom:2px;
}


    </style>
</head>
 <body>
 <div class="inner1">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">IIT ROORKEE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent"  style="background-color:#3498DB;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="Employee/"><font color="#ffffff">Employees</font><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Alumni/"><font color="#ffffff">Alumni</font></a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="Placements/"><font color="#ffffff">Placements</font></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="Students/"><font color="#ffffff">Students</font></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="InternationalRelations/"><font color="#ffffff">International Relations</font></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="Visitors/"><font color="#ffffff">Visitors</font></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="Hindi/"><font color="#ffffff">Hindi Sanskaran</font></a>
      </li>
 <li class="nav-item">
        <a class="nav-link" href="language/"><font color="#ffffff">Language Option</font></a>
      </li>


    </ul>

  </div>
</nav>
 </div>
 <div class="inner2">
<table>
         <th>
  <img src="{% static 'iitricon.jpg' %}" id="img1"/>
    <td>    <h4>  भारतीय  प्रौद्योगिकी  संस्थान  रुड़की  </h4>
    <h4>  Indian Institute Of Tecnology Roorkee </h4>
             </td>
</th>
</table>
 </div>
 <div class="inner1">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">IIT ROORKEE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent2"  style="background-color:#F2F3F4;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="institute/"><font color="#000000">Institute</font><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="academics/"><font color="#000000">Academics</font></a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="admissions/"><font color="#000000">Admissions</font></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="administrtions/"><font color="#000000">Administration</font></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="hostals/"><font color="#000000">Campus Life</font></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="departments/"><font color="#000000">Departments</font></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="Research/"><font color="#000000">Research</font></a>
      </li>
 <li class="nav-item">
        <a class="nav-link" href="Recruitments/"><font color="#000000">Recruitments</font></a>
      </li>

 <li class="nav-item">
        <a class="nav-link" href="Tenders"><font color="#000000">Tenders</font></a>
      </li>
    </ul>

  </div>
</nav>
 </div>
 <div class="inner3">

     <img class="mySlides" src="{% static 'maingate.png' %}" width="100%" height="400px">
<img class="mySlides" src="{% static 'swim.png' %}"  width="100%" height="400px">
<img class="mySlides" src="{% static 'hockey.png' %}"  width="100%" height="400px">
<img class="mySlides" src="{% static 'rjb.png' %}"  width="100%" height="400px">
        <img class="mySlides" src="{% static 'convo.png' %}" width="100%" height="400px">
<img class="mySlides" src="{% static 'iitr.png' %}"  width="100%" height="400px">
<img class="mySlides" src="{% static 'library.png' %}"  width="100%" height="400px">

<button class="w3-button1" onclick="plusDivs(-1)">&#10094; Prev</button>
  <button class="w3-button2" onclick="plusDivs(1)">Next &#10095;</button>
 </div>
<div class="inner4">
    <center>  <h2 >RECENT ACHIEVEMENTS</h2></center></div>
 <div class="row">

         <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'archi.png' %}"  width="100px" height="200px"alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Department Of Architechture</h5>
    <p class="card-text">IIT Roorkee Architecture Department ranked #1 in India Today Best Architecture College Survey.</p>
    <a href="https://m.dailyhunt.in/news/india/english/skill+outlook-epaper-skillout/iit+roorkee+architecture+department+ranked+1+in+india+today+best+architecture+college+survey-newsid-89156039" class="btn btn-primary">Details</a>
  </div>
</div>
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'iitroorkee.jpg' %}"  width="100px" height="200px"alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Indian Institute of Technology, Roorkee</h5>
    <p class="card-text">Indian Institute of Technology, Roorkee secured first position among the IITs in the Citations per Faculty parameter</p>
    <a href="https://www.republicworld.com/india-news/education/iit-roorkee-stands-1st-in-citations-per-faculty.html" class="btn btn-primary">Details</a>
  </div>
</div>
   <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'name.png' %}"  width="100px" height="200px"alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Indian Institute of Technology, Roorkee</h5>
    <p class="card-text">IIT Roorkee ranked 3rd among all Indian institutes in THE Emerging Economies University Rankings 2019</p>
    <a href="https://delhincrnews.in/2019/05/06/iit-roorkee-ranks-3rd-among-iits-in-times-higher-education-asia-university-rankings-2019/" class="btn btn-primary">Details</a>
  </div>
</div>
   <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'iitr3.jpg' %}"  width="100px" height="200px"alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Indian Institute of Technology, Roorkee</h5>
    <p class="card-text">IIT Roorkee Ranked 2nd Among Indian Teams In World Finals Of 43rd International Collegiate Programming Contest</p>
    <a href="https://www.studybuzz.in/news/iit-roorkee-ranked-2nd-among-indian-teams-in-world-finals-of-43rd-international-collegiate-programming-contest" class="btn btn-primary">Details</a>
  </div>
</div>

</div>
<div class="inner5">
    <center>  <h2 >MEDIA COVERAGE</h2></center></div>
 <div class="row">

         <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'uba.png' %}"  width="100px" height="200px"alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Indian Institute of Technology, Roorkee</h5>
    <p class="card-text">IIT Roorkee holds webinar on Smart Village under Unnat Bharat Abhiyan.
Posted On: 19/07/2020</p>
    <a href="https://www.indiatoday.in/education-today/news/story/iit-roorkee-holds-webinar-on-smart-village-under-unnat-bharat-abhiyan-1702180-2020-07-19" class="btn btn-primary">Details</a>
  </div>
</div>
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'iitroorkee.jpg' %}"  width="100px" height="200px"alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Indian Institute of Technology, Roorkee</h5>
    <p class="card-text">4,500 enthusiasts converge at IIT-Roorkee's online Sanskrit camp.Posted On: 19/07/2020</p>
    <a href="https://www.newindianexpress.com/nation/2020/jul/08/4500-enthusiasts-converge-at-iit-roorkees-online-sanskrit-camp-2167138.html?fbclid=IwAR1YtuTCPQUvoR5dEKkQOl8RDHQ3AtKoeApWF_AkWdrrF-RsrHir5TLwlHA" class="btn btn-primary">Details</a>
  </div>
</div>
   <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'rea.png' %}"  width="100px" height="200px"alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Indian Institute of Technology, Roorkee</h5>
    <p class="card-text">researchers develop a sterilizing system for disinfecting personal belongings against covid-19</p>
    <a href="https://www.newindianexpress.com/nation/2020/jul/08/4500-enthusiasts-converge-at-iit-roorkees-online-sanskrit-camp-2167138.html?fbclid=IwAR1YtuTCPQUvoR5dEKkQOl8RDHQ3AtKoeApWF_AkWdrrF-RsrHir5TLwlHA" class="btn btn-primary">Details</a>
  </div>
</div>
   <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'ear.png' %}"  width="100px" height="200px"alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Indian Institute of Technology, Roorkee</h5>
    <p class="card-text">IIT Roorkee has been making cities earthquake resistant since 1960
Posted On: 01/07/2020</p>
    <a href="https://news.careers360.com/interview-iit-roorkee-has-been-making-cities-earthquake-resistant-1960" class="btn btn-primary">Details</a>
  </div>
</div>

</div>

 <div class="inner6">

<h6 class="h4">Important Links</h6>
     <ul>
         <li><a href="https://ghtc-india.gov.in/">GLOBAL HOUSING TECHNOLOGY CHALLENGE-INDIA</a></li>
         <li><a href="https://www.iitrfoundation.org/">IIT Roorkee Foundation,inc.</a></li>
         <li><a href="https://www.iitr.ac.in/dic/">Design Innovation Center(DIC)</a></li>
         <li><a href="https://nptel.ac.in/">NPTEL</a></li>
         <li><a href="https://www.iitr.ac.in/Main/pages/James_Thomason_Scholarship.html">James Thomson Scholarship 2019</a></li>
         <li><a href="http://www.jeeadv.ac.in/">JEE Advanced 2020</a></li>
         <li><a href="https://www.iitr.ac.in/academics/pages/Academic_Calendar.html">Academic Calender</a></li>
         <li><a href="https://wellness.iitr.ac.in/">Wellness Center</a></li>
         <li><a href="https://www.iitr.ac.in/Main/pages/Help_Desk_for_Female_candidates_qualifying_JEE_mains.html">Women Help Desk</a></li>
         <li><a href="https://alumni.iitr.ac.in/awards/daa">Distinguished Alumnus Award</a></li>
         <li><a href="https://www.iitr.ac.in/Main/pages/establishments+Establishment_Services.html">Establishments Services</a></li>
         <li><a href="https://www.iitr.ac.in/subdomain/uba/">Unnat Bharat Abhiyan</a></li>
         <li><a href="https://www.iitr.ac.in/GP/">Green Campus Intiatives</a></li></ul>
 </div>



    <script>
 var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}</script>

 </body>

</html>
