  <!DOCTYPE html>
<html lang="en">
 {%load static %}
<head>
    <meta charset="UTF-8">
    <title>For Tenders,Indian Institute of technology Roorkee</title>
    <style>
        .inner2{

    height:20%;
}
  .inner3{
          text-align: justify;
    height:70%;

}

#img1{
width:100px;
height:100px;
}
.h4{
background-color:#3498DB;
color:#ffffff;
height:30px;
font-size:14sp;
padding-left:30px;
padding-top:7px;
padding-bottom:2px;
}</style>
</head>
<body>
 <div class="inner2">
<table>
         <th>
  <img src="{% static 'iitricon.jpg' %}" id="img1"/>
    <td>    <h1>  भारतीय  प्रौद्योगिकी  संस्थान  रुड़की  </h1>
    <h1>  Indian Institute Of Tecnology Roorkee </h1>
             </td>
         </th>
</table>
 </div>
<h2 class="h4">Tenders</h2>
<div class="inner3">
<font size="5px" class="font1">
    <em>
The Technical Bid should accompany an EMD of value as given below preferably in the form of Bank Guarantee OR FDR,
 issued only from any nationalized bank of India drawn in favour of “Officer on Special Duty, Material Management
Section, I.I.T. Roorkee” valid 45 days beyond the validity period of bid. The Bidder have to fill up EMD details online as
per quoted items and send the hard copy of payment to the Material Management Section IIT Roorkee on or before
the bid opening date and time as mentioned in Critical date sheet.
The qualification in Technical bid will be subject to the receipt and acceptance of EMD within schedule date and time
as mentioned in the NIT. IITR shall not be responsible for any delay in receipt of EMD. In case the EMD is not
received within the aforesaid period, the bid will be out rightly rejected.
EMD amount of Rs. 40.
    </em>
</font>


</div>
</body>
</html>