 <!DOCTYPE html>
<html lang="en">
 {%load static %}
<head>
    <meta charset="UTF-8">
    <title>For Campus Life,Indian Institute of technology Roorkee</title>
    <style>
        .inner2{

    height:20%;
}
  .inner3{
          text-align: justify;
    height:70%;

}

#img1{
width:100px;
height:100px;
}
.h4{
background-color:#3498DB;
color:#ffffff;
height:30px;
font-size:14sp;
padding-left:30px;
padding-top:7px;
padding-bottom:2px;
}</style>
</head>
<body>
 <div class="inner2">
<table>
         <th>
  <img src="{% static 'iitricon.jpg' %}" id="img1"/>
    <td>    <h1>  भारतीय  प्रौद्योगिकी  संस्थान  रुड़की  </h1>
    <h1>  Indian Institute Of Tecnology Roorkee </h1>
             </td>
         </th>
</table>
 </div>
<h3 class="h4">Campus Life</h3>
<div class="inner3">
<font size="5px" class="font1">
    <h3>Hostals</h3>
    <em>
 Bhawans! That is how we define our dwelling places on the sprawling IIT campus. These bhawans are our legacy and they remind of us the glory this institute has had and of the renaissance it has witnessed.

Our homes away from home are as modern as they can be. More importantly, though have spawned the cultures that make the campus an unforgettable experience. It's here that  midnight cricket tournaments, early morning bakar sessions, community computer warfare and so many other things find expression.

Each hostel has a state of art Cyber Cafe, managed by students. All hostels are now fully Wifi connected, meaning that the Internet permeates the space we live in. And who could imagine life without midnight snacks at the Bhawan Canteens, especially after an intense bakar or gaming session? And all this, in peaceful, clean, aesthetic environs, the likes of which very few places in the world can boast.

We have ten Boys' Hostels,


    </em>
</font>
    <br><br>
    <font size="5px" class="font1">
    <em>

        <ul><li>Azad Bhawan </li>
            <li>Cautley Bhawan</li>
            <li>Ganga Bhawan</li>
            <li>Govind Bhawan</li>
            <li>Jawahar Bhawan</li>
            <li>Radhakrishnan Bhawan</li>
            <li>Rajendra Bhawan</li>
            <li>Rajiv Bhawan</li>
            <li>Ravindra Bhawan</li>
            <li>Malviya Bhawan</li>
            <li>and three Girls' Hostels</li>
        </ul>
    </em>
</font>
</div>
</body>
</html>