 <!DOCTYPE html>
<html lang="en">
 {%load static %}
<head>
    <meta charset="UTF-8">
    <title>For Academics,Indian Institute of technology Roorkee</title>
    <style>
        .inner2{

    height:20%;
}
  .inner3{
          text-align: justify;
    height:70%;

}

#img1{
width:100px;
height:100px;
}
.h4{
background-color:#3498DB;
color:#ffffff;
height:30px;
font-size:14sp;
padding-left:30px;
padding-top:7px;
padding-bottom:2px;
}</style>
</head>
<body>
 <div class="inner2">
<table>
         <th>
  <img src="{% static 'iitricon.jpg' %}" id="img1"/>
    <td>    <h1>  भारतीय  प्रौद्योगिकी  संस्थान  रुड़की  </h1>
    <h1>  Indian Institute Of Tecnology Roorkee </h1>
             </td>
         </th>
</table>
 </div>
<h3 class="h4">ACADEMICS</h3>
<div class="inner3">
<font size="5px" class="font1">
    <em>
 The academic activities of the Institute are spread over three campuses: (i) 365 acres campus at Roorkee, (ii) 25 acres campus at Saharanpur and (iii) 10 acres campus of Greater Noida Extension Centre at Greater Noida. The Institute offers several undergraduate programmes leading to Bachelor’s degree in different disciplines of engineering, technology and architecture, Integrated dual-degree programmes, Integrated Masters programmes in different disciplines of engineering and sciences and postgraduate programmes in specialised areas leading to Master’s degree in technology, architecture, sciences and management. In addition, the Institute is engaged in advanced level research and offers doctoral and postdoctoral programmes in the areas of cutting edge technologies and sciences.
    </em>
</font>
    <br><br>
    <font size="5px" class="font1">
    <em>
<ul>
    <li>
    B.Arch.  -	01	- Through JEE Advanced




    </li>
      <li>
Bachelor of Technology   - 	11	- Through JEE Advanced
    </li>
      <li>
Integrated Dual Degree (IDD)  -14-Through JEE Advanced
    </li>
      <li>
Integrated M.Tech. (IMT)  -02-Through JEE Advanced
    </li>  <li>
Integrated M.Sc. (IMS)  -03	- Through JEE Advanced
    </li>

</ul>
    </em>
</font>
</div>
</body>
</html>