 <!DOCTYPE html>
<html lang="en">
 {%load static %}
<head>
    <meta charset="UTF-8">
    <title>For Visitors,Indian Institute of technology Roorkee</title>
    <style>
        .inner2{

    height:20%;
}
  .inner3{
          text-align: justify;
    height:70%;

}

#img1{
width:100px;
height:100px;
}
.h4{
background-color:#3498DB;
color:#ffffff;
height:30px;
font-size:14sp;
padding-left:30px;
padding-top:7px;
padding-bottom:2px;
}</style>
</head>
<body>
 <div class="inner2">
<table>
         <th>
  <img src="{% static 'iitricon.jpg' %}" id="img1"/>
    <td>    <h1>  भारतीय  प्रौद्योगिकी  संस्थान  रुड़की  </h1>
    <h1>  Indian Institute Of Tecnology Roorkee </h1>
             </td>
         </th>
</table>
 </div>
<h3 class="h4">VISITORS</h3>
<div class="inner3">
<font size="5px" class="font1">
    <em>
 A visitor center at a specific attraction or place of interest, such as a landmark, national park, national forest, or state park, providing information (such as trail maps, and about camp sites, staff contact, restrooms, etc.) and in-depth educational exhibits and artifact displays (for example, about natural or cultural history). Often a film or other media display is used. If the site has permit requirements or guided tours, the visitor center is often the place where these are coordinated.
A tourist information center, providing visitors to a location with information on the area's attractions, lodgings, maps, and other items relevant to tourism. Often, these centers are operated at the airport or other port of entry, by the local government or chamber of commerce. Often a visitor center is called simply an information center.
A corporate visitor center, provides visitors with an easily accessible window into the corporation.
Visitor centers used to provide fairly basic information about the place, corporation or event they are celebrating, acting more as the entry way to a place. The role of the visitor center has been rapidly evolving over the past 10 years to become more of an experience and to tell the story of the place or brand it represents. Many have become destinations and experiences in their own right.
    </em>
</font>
    <br><br>
    <font size="5px" class="font1">
    <em>
In Australia, most visitor centres are local or state government-run, or in some cases as an association of tourism operators on behalf of the government, usually managed by a board or executive. Those that comply with a national accreditation programme use the italic "i" as pictured above. These visitor information centres (often abbreviated as VICs) provide information on the local area, and usually perform services such as accommodation and tour bookings, flight/bus/train/hire car options, and act as the first point of contact a visitor has with the town or region.
    </em>
</font>
</div>
</body>
</html>