 <!DOCTYPE html>
<html lang="en">
 {%load static %}
<head>
    <meta charset="UTF-8">
    <title>Hindi Sanskaran,Indian Institute of technology Roorkee</title>
    <style>
        .inner2{

    height:20%;
}
  .inner3{
          text-align: justify;
    height:70%;

}

#img1{
width:100px;
height:100px;
}
.h4{
background-color:#3498DB;
color:#ffffff;
height:30px;
font-size:14sp;
padding-left:30px;
padding-top:7px;
padding-bottom:2px;
}</style>
</head>
<body>
 <div class="inner2">
<table>
         <th>
  <img src="{% static 'iitricon.jpg' %}" id="img1"/>
    <td>    <h1>  भारतीय  प्रौद्योगिकी  संस्थान  रुड़की  </h1>
    <h1>  Indian Institute Of Tecnology Roorkee </h1>
             </td>
         </th>
</table>
 </div>
<h3 class="h4">HINDI SANSKARAN</h3>
<div class="inner3">
<font size="5px" class="font1">
    <em>
 Sanskar is the word that has come sanskrit (cultured not reformed). Languages have derived from different branches like Indo-European, Indo- Iranian, Indo -Aryan. but the main two branches are Indo-Iranian and Indo-European. lf you observe you will see certain relation within the languages. Like Dam (price) has come from Drachma. However, No two languages or their words are same. That is why sometimes translated literature lacks the taste and rhythm land the translators are called traitors. Sanskrit language is cultured language that is why it is called Sanskrit.
    </em>
</font>


</div>
</body>
</html>