 <!DOCTYPE html>
<html lang="en">
 {%load static %}
<head>
    <meta charset="UTF-8">
    <title>For Research,Indian Institute of technology Roorkee</title>
    <style>
        .inner2{

    height:20%;
}
  .inner3{
          text-align: justify;
    height:70%;

}

#img1{
width:100px;
height:100px;
}
.h4{
background-color:#3498DB;
color:#ffffff;
height:30px;
font-size:14sp;
padding-left:30px;
padding-top:7px;
padding-bottom:2px;
}</style>
</head>
<body>
 <div class="inner2">
<table>
         <th>
  <img src="{% static 'iitricon.jpg' %}" id="img1"/>
    <td>    <h1>  भारतीय  प्रौद्योगिकी  संस्थान  रुड़की  </h1>
    <h1>  Indian Institute Of Tecnology Roorkee </h1>
             </td>
         </th>
</table>
 </div>
<h2 class="h4">Research</h2>
<div class="inner3">
<font size="5px" class="font1">
    <em>
 Every department has faculty and students involved extensively in research activities. Undergraduate education is greatly benefited by the environment of postgraduate programmes, while both the curricula derives strength in a research environment created by doctoral and postdoctoral programmes.

Not only the departments of the Institute, the various academic centers are also involved in research activities, in order to contribute and benefit from the advances in knowledge frontiers, which will help generate state-of-the-art technologies responding to the need of the country.
    </em>
</font>
    <br><br>
    <font size="5px" class="font1">
    <em>
 Sponsored Research (SR) and Industrial Consultancy (IC) are two important modes through which the faculty supports the development of knowledge and technology. Indian Institute of Technology recognizes Sponsored Research (SR) and Industrial Consultancy (IC) as the essential attributes of teaching and research. A full-fledged office operating under Dean (SRIC) provides administrative and accounting support to the faculty undertaking sponsored research and consultancy work.
    </em>
</font>
</div>
</body>
</html>