 <!DOCTYPE html>
<html lang="en">
 {%load static %}
<head>
    <meta charset="UTF-8">
    <title>Placements,Indian Institute of technology Roorkee</title>
    <style>
        .inner2{

    height:20%;
}
  .inner3{
          text-align: justify;
    height:70%;

}

#img1{
width:100px;
height:100px;
}
.h4{
background-color:#3498DB;
color:#ffffff;
height:30px;
font-size:14sp;
padding-left:30px;
padding-top:7px;
padding-bottom:2px;
}</style>
</head>
<body>
 <div class="inner2">
<table>
         <th>
  <img src="{% static 'iitricon.jpg' %}" id="img1"/>
    <td>    <h1>  भारतीय  प्रौद्योगिकी  संस्थान  रुड़की  </h1>
    <h1>  Indian Institute Of Tecnology Roorkee </h1>
             </td>
         </th>
</table>
 </div>
<h3 class="h4">PLACEMENTS</h3>
<div class="inner3">
<font size="5px" class="font1">
    <em>
 Placement is understood as assigning jobs to the selected candidates. Assigning jobs to employ­ees may involve a new job or different job. Thus, placement may include initial assignment of job to new employee, on transfer, promotion or demotion of the present employees. Here place­ment refers to the assignment of jobs to new employees only.

Placement involves assigning a specific job to each one of the selected candidates. How­ever, placement is not as simple as it looks. Instead, it involves striking a fit between the requirements of a job and the qualifications of a candidate.

Pigors and Myers have defined placement as “the determination of the job to which an accepted candidate is to be assigned, and his assignment to that job. It is a matching of what the supervisor has reason to think he can do with the job demands (job requirements), and what he offers in the form of pay rolls, companionship with others, promotional possibilities, etc.”.
    </em>
</font>
    <br><br>
    <font size="5px" class="font1">
    <em>
   The importance of placement lies in the fact that a proper placement of employees reduces employees’ turnover, absenteeism, accidents and dissatisfaction, on the one hand, and improves their morale, on the other.

It has been customary in most of the organisations to put employees initially on a probation period with a view to adjudge their suitability for the job in the organisation. The probation period may vary from organisation to organisation ranging from one to two years. Having found the employees’ performance satisfactory during the probation period, their jobs are regularised.
   Proper placement helps to improve employee morale. The capacity of the employee can be utilised fully if he is placed on the job for which he is most suitable. Right placement also helps to reduce labour turnover, absenteeism and accident rates. If a candidate adjusts himself to the job and continues to perform as per expectations, it might mean that the candidate is properly placed.In independent jobs, non-overlapping routes or territories are allotted to each employee e.g. in field sales. In such situations, the activities of one employee have little bearing on the activities of other workers. Independent jobs do-not pose great problems in placement. Each employee has to be evaluated between his capabilities and interests and those required on the job.

 </em>
</font>
</div>
</body>
</html>