 <!DOCTYPE html>
<html lang="en">
 {%load static %}
<head>
    <meta charset="UTF-8">
    <title>For Recruitments,Indian Institute of technology Roorkee</title>
    <style>
        .inner2{

    height:20%;
}
  .inner3{
          text-align: justify;
    height:70%;

}

#img1{
width:100px;
height:100px;
}
.h4{
background-color:#3498DB;
color:#ffffff;
height:30px;
font-size:14sp;
padding-left:30px;
padding-top:7px;
padding-bottom:2px;
}</style>
</head>
<body>
 <div class="inner2">
<table>
         <th>
  <img src="{% static 'iitricon.jpg' %}" id="img1"/>
    <td>    <h1>  भारतीय  प्रौद्योगिकी  संस्थान  रुड़की  </h1>
    <h1>  Indian Institute Of Tecnology Roorkee </h1>
             </td>
         </th>
</table>
 </div>
<h2 class="h4">Recruitments</h2>
<div class="inner3">
<font size="5px" class="font1">
    <em>
 Indian Institute of Technology Roorkee (IIT Roorkee) is India's leading institution of higher technical and management education with an excellent track record of it's performance over the last 171 years. The core values of the Institute help the students to develop their overall personality and make engineer/technocrat/manager/scientist of parexcellence to compete and work at global level.
    </em>
</font>


</div>
</body>
</html>