 <!DOCTYPE html>
<html lang="en">
 {%load static %}
<head>
    <meta charset="UTF-8">
    <title>Departments,Indian Institute of technology Roorkee</title>
    <style>
        .inner2{

    height:20%;
}
  .inner3{
          text-align: justify;
    height:70%;

}
a{
   text-decoration: none;
}
#img1{
width:100px;
height:100px;
}
.h4{
background-color:#3498DB;
color:#ffffff;
height:30px;
font-size:14sp;
padding-left:30px;
padding-top:7px;
padding-bottom:2px;
}</style>
</head>
<body>
 <div class="inner2">
<table>
         <th>
  <img src="{% static 'iitricon.jpg' %}" id="img1"/>
    <td>    <h1>  भारतीय  प्रौद्योगिकी  संस्थान  रुड़की  </h1>
    <h1>  Indian Institute Of Tecnology Roorkee </h1>
             </td>
         </th>
</table>
 </div>
<h3 class="h4">Departments</h3>
<div class="inner3">
<font size="5px" class="font1">
    <em>
 IIT Roorkee is one of the biggest technical institutions in the country having the largest number of academic units. It has 22 academic departments covering engineering, applied sciences, humanities & social sciences, and management programmes, 2 academic centre, 2 centres of excellence, 8 academic service centres and 4 supporting units.
    </em>
</font>
    <br> <br>
    <font size="5px" class="font1">
    <em>
        <ul>
            <li><a href="https://www.iitr.ac.in/departments/AR/pages/index.html">Architecture and Planning</a></li>
            <li><a href="https://www.iitr.ac.in/departments/ASE/pages/index.html">Applied Science and Engineering</a></li>
            <li><a href="https://www.iitr.ac.in/departments/BT/pages/index.html">Biotechnology</a></li>
            <li><a href="https://www.iitr.ac.in/departments/CH/pages/index.html">Chemical Engineering</a></li>
            <li><a href="https://www.iitr.ac.in/departments/CY/pages/index.html">Chemistry</a></li>
            <li><a href="https://civil.iitr.ac.in/">Civil Engineering New</a></li>
            <li><a href="https://www.iitr.ac.in/departments/CSE/pages/index.html">Computer Science and Engineering</a></li>
            <li><a href="https://eq.iitr.ac.in">Earthquake Engineering</a></li>
            <li><a href ="https://www.iitr.ac.in/departments/ES/pages/index.html">Earth Sciences</a></li>
            <li><a href="https://www.iitr.ac.in/departments/EE/pages/index.html">Electrical Engineering</a></li>
            <li><a href="http://ece.iitr.ac.in/">Electronics and Communication Engineering New</a></li>
            <li><a href="https://www.iitr.ac.in/departments/HS/pages/About_the_Department___.html">Humanities and Social Sciences</a></li>
            <li><a href="https://www.iitr.ac.in/departments/HY/pages/index.html">Hydrology</a></li>

            <li><a href="https://www.iitr.ac.in/departments/MA/pages/index.html">Mathematics</a></li>
            <li><a href="https://www.iitr.ac.in/mechanical/department/">Mechanical and Industrial Engineering</a></li>

        </ul>  </em>
</font>
</div>
</body>
</html>