 <!DOCTYPE html>
<html lang="en">
 {%load static %}
<head>
    <meta charset="UTF-8">
    <title>Indian Institute of technology Roorkee</title>
    <style>
        .inner2{

    height:20%;
}
  .inner3{
          text-align: justify;
    height:70%;

}

#img1{
width:100px;
height:100px;
}
.h4{
background-color:#3498DB;
color:#ffffff;
height:30px;
font-size:14sp;
padding-left:30px;
padding-top:7px;
padding-bottom:2px;
}</style>
</head>
<body>
 <div class="inner2">
<table>
         <th>
  <img src="{% static 'iitricon.jpg' %}" id="img1"/>
    <td>    <h1>  भारतीय  प्रौद्योगिकी  संस्थान  रुड़की  </h1>
    <h1>  Indian Institute Of Tecnology Roorkee </h1>
             </td>
         </th>
</table>
 </div>
<h2 class="h4">Institute</h2>
<div class="inner3">
<font size="5px" class="font1">
    <em>
 The institution has its origins in a class started in 1845 to train local youth in engineering to assist in public works then beginning.[4] In 1847 it was officially established.[5] It was renamed as the Thomason College of Civil Engineering in 1854 in honour of its founder, James Thomason, lieutenant governor 1843–53.[4] The first Indian to graduate from the Roorkee college was Rai Bahadur Kanhaiya Lal in 1852.[6]

The Department of Civil Engineering was established in 1847 and is the oldest engineering department in India.[7] The Electrical Engineering department of the Thomson College was established in the year 1897, and was one of the earliest such specializations in the world.[8] The architecture department is the first in India in instituting a master's degree course in Architecture (M. Arch.) in the year 1969–70.[9]

     </em>
</font>
    <br><br>
    <font size="5px" class="font1">
    <em>


In 1978, the Institute of Paper Technology, Saharanpur was merged with the then University of Roorkee. The Institute of Paper Technology was established as School of Paper Technology by the Government of India in 1964, with an aid from the Royal Swedish Government. The school was renamed as the Institute of Paper Technology in July 1968 and subsequently Department of Paper Technology in July 1992.[10]

The first edition of Thomso, the institute's annual cultural festival was held in 1982.

On 21 September 2001, an ordinance issued by the Government of India declared it as the nation's seventh Indian Institute of Technology, renaming it to the current name, Indian Institute of Technology Roorkee. The ordinance was converted into an act by the Parliament to make IIT Roorkee an "Institution of National Importance".

    </em>
</font>
</div>
</body>
</html>