 <!DOCTYPE html>
<html lang="en">
 {%load static %}
<head>
    <meta charset="UTF-8">
    <title>For Students,Indian Institute of technology Roorkee</title>
    <style>
        .inner2{

    height:20%;
}
  .inner3{
          text-align: justify;
    height:70%;

}

#img1{
width:100px;
height:100px;
}
.h4{
background-color:#3498DB;
color:#ffffff;
height:30px;
font-size:14sp;
padding-left:30px;
padding-top:7px;
padding-bottom:2px;
}</style>
</head>
<body>
 <div class="inner2">
<table>
         <th>
  <img src="{% static 'iitricon.jpg' %}" id="img1"/>
    <td>    <h1>  भारतीय  प्रौद्योगिकी  संस्थान  रुड़की  </h1>
    <h1>  Indian Institute Of Tecnology Roorkee </h1>
             </td>
         </th>
</table>
 </div>
<h3 class="h4">STUDENTS</h3>
<div class="inner3">
<font size="6px" class="font1">
    <em>
        <ol>



<li>HUZAIB UL HASSAN</li>

<li>JATIN RAMCHANDANI</li>


<li>MAYANK PATIDAR</li>

  <li>OJAS GUPTA</li><li>NIKITA AGARWAL</li>




<li>ROBIN SINGH KAURAV</li>



            <li>YUVRAJ MOTWANI</li>

  </ol>  </em>
</font>
    <br><br>
    <font size="5px" class="font1">
    <em>


    </em>
</font>
</div>
</body>
</html>