<!DOCTYPE html>
<html lang="en">
 {%load static %}
<head>
    <meta charset="UTF-8">
    <title>For Faculty,Indian Institute of technology Roorkee</title>
    <style>
        .inner2{

    height:20%;
}
  .inner3{
          text-align: justify;
    height:70%;

}

#img1{
width:100px;
height:100px;
}
.h4{
background-color:#3498DB;
color:#ffffff;
height:30px;
font-size:14sp;
padding-left:30px;
padding-top:7px;
padding-bottom:2px;
}</style>
</head>
<body>
 <div class="inner2">
<table>
         <th>
  <img src="{% static 'iitricon.jpg' %}" id="img1"/>
    <td>    <h1>  भारतीय  प्रौद्योगिकी  संस्थान  रुड़की  </h1>
    <h1>  Indian Institute Of Tecnology Roorkee </h1>
             </td>
         </th>
</table>
 </div>
<h3 class="h4">EMPLOYEES</h3>
<div class="inner3">
<font size="5px" class="font1">
    <em>
        An employee is a term for workers and managers working for a company, organization or community. These people are the staff of the organization. In general, any person hired by an employer to do a particular job in exchange for payment is an employee, but there are different kinds of employees. In some countries, employers are required by law to do certain things, like obey minimum wage laws, provide a safe workplace, and sometimes pay a tax. Employers also have to give their official employees benefits, like paying for health insurance. Because of this, some employers like to hire independent contractors to do work instead of regular employees. In the United States, a worker is an employee if their employer gets to tell them what do do, how to do it, and when to do it in a material way and an independent contractor if they get to make their own decisions about how to do what the employer wants.
    </em>
</font>
    <br><br>
    <font size="5px" class="font1">
    <em>
   Each employee has a specific job to accomplish that is often defined by a job description. In responsible organizations, a performance development planning process defines the work of the employee and the organization’s expectation’s for the employee’s performance.

It should also help employees set goals and track their performance. Additionally, the performance management system should help employees develop their ongoing skills and adopt a career path.

An employee works within a functional area or department such as marketing or Human Resources. An employee has a boss, the person he or she reports to and takes direction from, usually a manager or supervisor. An employee should have the expectation that he or she will receive reasonable, professional treatment from the manager. An employee also has coworkers who work with them to accomplish the work of the department.

The employee has a workstation or an office in which he or she accomplishes the job. The employer supplies the employee with the tools and equipment necessary to perform work such as a computer, telephone, cell phone, laptop, desk, and supplies.

In forward-thinking organizations, the employee receives frequent performance feedback from the manager, rewards and recognition, and a reasonable benefits package.

Although most employment relationships are at-will, the employee who performs the job successfully is likely, although not guaranteed, to keep the job.


    </em>
</font>
</div>
</body>
</html>