 <!DOCTYPE html>
<html lang="en">
 {%load static %}
<head>
    <meta charset="UTF-8">
    <title>International Relations,Indian Institute of technology Roorkee</title>
    <style>
        .inner2{

    height:20%;
}
  .inner3{
          text-align: justify;
    height:70%;

}

#img1{
width:100px;
height:100px;
}
.h4{
background-color:#3498DB;
color:#ffffff;
height:30px;
font-size:14sp;
padding-left:30px;
padding-top:7px;
padding-bottom:2px;
}</style>
</head>
<body>
 <div class="inner2">
<table>
         <th>
  <img src="{% static 'iitricon.jpg' %}" id="img1"/>
    <td>    <h1>  भारतीय  प्रौद्योगिकी  संस्थान  रुड़की  </h1>
    <h1>  Indian Institute Of Tecnology Roorkee </h1>
             </td>
         </th>
</table>
 </div>
<h3 class="h4">INTERNATIONAL REALATIONS</h3>
<div class="inner3">
<font size="5px" class="font1">
    <em>
 International Relations
International relations may be an offshoot of political science, but this field of study is exceptionally in-depth in its own right. As our global society evolves and expands, international relations will evolve and expand along with it as we continue to explore new and exciting way to link our complex world.

For example, traditional dimensions of international relations related to international peace and prosperity include topics such as international diplomacy, arms control, and alliance politics. Contemporary studies in international relations, on other hand, include topics such as international political economics, environmental politics, refugee and migration issues, and human rights.
    </em>
</font>
    <br><br>
    <font size="5px" class="font1">
    <em>
   <ul>
       <li>
          <strong>  Humanitarian organizations</strong></li>
<li>Action Against Hunger</li>
       <li>Oxfam International</li>

       <li>World Food Programme</li></ul>
        <ul>
            <li><strong>Government agencies</strong></li>
            <li>Department of State</li>
            <li>Department of Homeland Security</li>
            <li>Department of Commerce</li>
            <li>International corporations</li>

       </li>
   </ul>
    </em>
</font>
</div>
</body>
</html>